{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/extensions": [".js", ".jsx", ".json", ".ts", ".tsx"],
    "no-unused-expressions": "off",
    "class-methods-use-this": "off",
    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "node": {
        "extensions": [".js", ".ts"]
      }
    },
    "import/parsers": {
      "typescript-eslint-parser": [ ".js", ".ts" ]
    }
  },
  "plugins": ["prettier", "typescript"]
}
