{
  "exclude": ["mocks", "node_modules", "**/**.specs.js", "test", "coverage"],
  "include": ["src"],
  "require": ["@babel/register"],
  "all": true,
  "lines": 1,
  "functions": 1,
  "stmts": 1,
  "branches": 1,
  "recursive": true,
  "perFile": false,
  "instrument": false,
  "sourceMap": false,
  "check-coverage": true,
  "report-dir": "./report-dir",
  "cache": false,
  "reporter": ["text", "text-summary", "html", "lcov", "cobertura"]
}
